.imageContainer {
  width: 100%;
  position: relative;
  padding-top: 100%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

.imageContainer:hover img {
  transform: scale(1.1);
}

.productOverview {
  h2, h3, h4 {
    text-align: center!important;
  }
}

.descriptionCol {
  display: flex;
  flex-direction: column;

  > div:nth-child(2) {
    height: 100%;

    * {
      height: 100%;
    }
  } 
}